li.container {
  width: calc((100vw - (4 * 10rem)) / 3);
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 1.5rem;
  box-shadow: 0.2px 0.2px 10px rgba(0, 0, 0, 0.623);
}

li.container article.card div.preview {
  width: 95%;
  height: 20rem;
  overflow: hidden;
  margin: auto;
  outline: solid 0.5rem rgba(206, 106, 106, 0.596);
  border-radius: 0.5rem;
}

li.container article.card div.preview img {
  height: 100%;
  width: 100%;

  /* object-fit: cover; */
  /* object-position: center; */
}

li.container article.card div.content {
  margin: 1.5rem;
}

li.container article.card div.content div.reference {
  width: 100%;
  margin-block: 3rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

li.container article.card div.content div.reference h4 {
  font-size: 90%;
  /* text-align: center; */
  padding: 0.5rem;
  outline: 0.2rem solid rgba(206, 106, 106, 0.774);
  border-radius: 4rem;
}

li.container article.card div.content div.reference h4 span {
  color: rgba(206, 106, 106, 0.774);
  font-size: 1rem;
}

li.container article.card div.content div.card__content h3 {
  color: rgba(206, 106, 106, 0.8);
  margin-block-end: 1rem;
  height: 3rem;
  line-height: 1.5rem;
  overflow: hidden;
}

li.container article.card div.content div.card__content p {
  height: 5rem;
  text-wrap: wrap;
  overflow-y: hidden;
  /* text-wrap: wrap; */
  line-height: 1.5rem;
  margin-block-end: 2rem;
}

/* List (link to article Detail) */
/* *************************************** */

li.container article.card div.content div.card__content a {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}

li.container article.card div.content div.card__content a:active,
li.container article.card div.content div.card__content a:visited {
  color: blueviolet;
}

li.container article.card div.content div.card__content a:hover {
  color: rgba(206, 106, 106, 0.8);
  /* font-size: 1.3rem; */
}

/* Media Queries */
/* @media (max-width: 768px) {
    li.container {
      width: calc(100vw - (2 * 10rem));
    }
  } */
@media (max-width: 1023px) {
  li.container {
    width: calc(100vw - (2 * 10rem));
  }
  li.container article.card div.content div.reference h4 {
    text-align: center;
    font-size: 1rem;
  }
}
