/* Reset */
/* *************************************** */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", sans-serif;
  color: #252525;
  font-weight: 400;
}
/* ========================================================================= */
/* Main container */
/* *************************************** */
.appContainer {
  background-color: lightgray;
  height: 100vh;
  padding: 3.2rem;
  padding-bottom: 6rem;
  overflow-y: auto;
  position: relative;
}

div.appContainer p.error {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(180, 20, 20);
  padding: 1rem 3rem 5rem;
  font-weight: 700;
  font-size: 2rem;
  color: whitesmoke;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  text-align: center;
}

ul {
  list-style: none;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10rem;
}
